// Update or add colors/hues as needed

$clr-light: #ffffff;
$clr-dark: #212121;

$colors: (
  neutral: (
    900: #212121,
    100: #ffffff,
  ),
  primary: (
    400: #dba51d,
    500: #340242,
  ),
);
