// Update or add colors/hues as needed

$clr-light: #ffffff;
$clr-dark: #080808;

$colors: (
  neutral: (
    900: #080808,
    100: #ffffff,
  ),
  primary: (
    400: #db761d,
    500: #340242,
  ),
);
