// update to desired font-family combos
$ff-sans: var(--font-switzer), sans-serif;
// $ff-serif: "Abril Fatface", sans-serif;

$ff-base: $ff-sans;
// $ff-accent: $ff-serif;

// update particular clamp values as needed
$font-sizes: (
  1000: clamp(3.5rem, 0.5rem + 12vw, 7rem),
  900: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  800: clamp(2rem, 0.5rem + 6vw, 2.8rem),
  700: clamp(2rem, 0.5rem + 4vw, 2rem),
  600: clamp(1rem, 0.5rem + 2.5vw, 1.5rem),
  500: 1.3125rem,
  400: 1.125rem,
  300: 1rem,
);

$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-700: 700;
