@use "../abstracts/" as *;

.container {
  --padding: #{$container-inline-padding} * 2;
  --max-width: #{$container-max-width};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type="wide"] {
  --max-width: #{$container-max-width-wide};
}

.background-container {
  &-2 {
    position: relative;
    background-color: $clr-primary-400;
    overflow: hidden;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("/Texture-1.png");
      background-repeat: repeat;
      background-size: auto;
      opacity: 0.6;
      z-index: 0;
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
    }

    &:has(.project-item-content:hover)::before {
      transform: scale(1.07);
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }
  &-3 {
    position: relative;
    overflow: hidden;
    background-color: $clr-neutral-900;
    color: $clr-neutral-100;
    z-index: 2;
  }
}
