@use "../abstracts/" as *;

// child to section class, sets width of content and controls responsive margins

.container {
  --padding: #{$container-inline-padding} * 2;
  --max-width: #{$container-max-width};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type="wide"] {
  --max-width: #{$container-max-width-wide};
}

.background-container {
  min-height: 110dvh;
  position: relative;
  overflow: hidden;
}

.background-container-lg {
  background-color: $clr-primary-400;
  min-height: 350dvh;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: -200px 0 0 0;
    transform: skewY(-15deg);
    background-color: $clr-neutral-900;
  }
}

.background-container-diagonal-2 {
  background-color: $clr-neutral-900;
  min-height: 175dvh;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    transform: skewY(-15deg);
    background-color: $clr-primary-400;
  }
}

.about-container,
.work-container {
  position: relative;
  z-index: 1;
}
