@use "../abstracts/" as *;

.container {
  --padding: #{$container-inline-padding} * 2;
  --max-width: #{$container-max-width};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type="wide"] {
  --max-width: #{$container-max-width-wide};
}

.background-container {
  &-2 {
    background-color: $clr-primary-400;
  }
  &-3 {
    background-color: $clr-neutral-900;
    color: $clr-neutral-100;
  }
}
