@use "../abstracts/" as *;

// child to section class, sets width of content and controls responsive margins

.container {
  --padding: #{$container-inline-padding} * 2;
  --max-width: #{$container-max-width};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type="wide"] {
  --max-width: #{$container-max-width-wide};
}

.diagonal-container-1 {
  background-color: $clr-primary-400;
  min-height: 350dvh;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: -200px 0 0 0;
    transform: skewY(-15deg);
    background-color: $clr-neutral-900;
  }
}

.diagonal-container-2 {
  background-color: $clr-neutral-900;
  min-height: 150dvh;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    transform: skewY(-15deg);
    background-color: $clr-primary-400;
  }
}

.diagonal-container-3 {
  background-color: $clr-primary-400;
  min-height: 100dvh;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    transform: skewY(-15deg);
    background-color: $clr-neutral-900;
  }
}

.about-container,
.contact-container,
.work-container {
  position: relative;
  z-index: 1;
}
