@use "../abstracts/" as *;

.container {
  --padding: #{$container-inline-padding} * 2;
  --max-width: #{$container-max-width};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type="wide"] {
  --max-width: #{$container-max-width-wide};
}

.background-container {
  &-2 {
    position: relative;
    background-color: $clr-primary-400;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/Texture-1.png");
      background-repeat: repeat;
      background-position: center;
      background-size: auto;
      opacity: 0.6;
      z-index: 0;
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }
  &-3 {
    background-color: $clr-neutral-900;
    color: $clr-neutral-100;
  }
}
