@use "../abstracts/" as *;

.fw-thin {
  font-weight: $fw-100;
}

.fw-light {
  font-weight: $fw-200;
}

.fw-normal {
  font-weight: $fw-300;
}

.fw-regular {
  font-weight: $fw-400;
}

.fw-bold {
  font-weight: $fw-700;
}
