@use "abstracts" as *;

.contact-container {
  min-height: 100svh;
  justify-content: center;
}

.contact-content {
  padding-block-start: calc(tan(5deg) * 50vw);
  padding-block-end: 2rem;
}
.more-info-links {
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  @include mq(small) {
    flex-direction: row;
  }
}

.link-group {
  &-title {
    font-size: fs(500);
  }
  &:nth-of-type(1) {
    flex-grow: 2;
    flex-basis: 0;
  }
  &:nth-of-type(2) {
    flex-grow: 1;
  }
  &:nth-of-type(3) {
    flex-grow: 1;
    flex-basis: 0;
  }
}
