@use "abstracts";
@use "base";
@use "layout";
@use "utilities";

.hero {
  min-height: 100dvh;
  line-height: 1.4;

  &-content {
    position: absolute;
  }

  h1 {
    color: #fff;
    font-size: 18.75rem;
    font-weight: 900;
  }
}

.hero-content {
  width: 100vw;
  max-width: 100vw;
  position: relative;
}

.hero-animated-text {
  display: inline-block;
  white-space: nowrap;
  transform: rotate(-20deg);
  will-change: transform;
  animation: hero-scroll 10s linear infinite;
}

@keyframes hero-scroll {
  0% {
    transform: translateX(100vw) translateY(-30vw) rotate(-20deg);
  }
  100% {
    transform: translateX(-120%) translateY(200%) rotate(-20deg);
  }
}

// PROJECTS
.project-list {
  height: 100%;
  gap: 2rem;
}

.project-item-content {
  h2 {
    width: fit-content;
    cursor: pointer;
  }
}

// CONTACT
.contact-container {
  min-height: 100dvh;
  justify-content: center;
}

.more-info-links {
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  @include abstracts.mq(small) {
    flex-direction: row;
  }
}

.link-group {
  &-title {
    font-size: fs(400);
  }
  &:nth-of-type(1) {
    flex-grow: 2;
    flex-basis: 0;
  }
  &:nth-of-type(2) {
    flex-grow: 1;
  }
  &:nth-of-type(3) {
    flex-grow: 1;
    flex-basis: 0;
  }
}

.footer-call-to-action {
  line-height: 1;
}
