@use "abstracts" as *;
@use "base";
@use "layout";
@use "utilities";

.cursor {
  background-color: white;
}

.reticule {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
}

.nav {
  background-color: $clr-neutral-900;
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 3;
  color: white;

  &-list {
    width: 50%;
    justify-content: space-between;
  }
}

.hero {
  min-height: 150dvh;
  overflow: hidden;

  &-title {
    color: #fff;
    font-size: clamp(7rem, 20vw, 15rem);
    font-weight: 900;
    position: relative;
    z-index: 3;
    padding: 0 0 22rem 0rem;

    @include mq(medium) {
      padding: 0 0 8rem 0rem;
    }

    @include mq(large) {
      padding-right: 25rem;
    }
  }
}

.hero-content {
  width: 100vw;
  max-width: 100vw;
  position: relative;
}

@keyframes hero-primary-scroll {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-150%);
  }
}

.gradient-sphere-container {
  position: relative;
}

.gradient-sphere {
  position: absolute;
  z-index: 1;
}

// PROJECTS
.project-list {
  height: 100%;
  gap: 2rem;
}

.project-item-content {
  cursor: pointer;

  h2 {
    width: fit-content;
  }
}

// CONTACT
.contact-container {
  min-height: 100dvh;
  justify-content: center;
}

.more-info-links {
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  @include mq(small) {
    flex-direction: row;
  }
}

.link-group {
  &-title {
    font-size: fs(400);
  }
  &:nth-of-type(1) {
    flex-grow: 2;
    flex-basis: 0;
  }
  &:nth-of-type(2) {
    flex-grow: 1;
  }
  &:nth-of-type(3) {
    flex-grow: 1;
    flex-basis: 0;
  }
}

.footer-call-to-action {
  line-height: 1;
}
