@use "abstracts" as *;
@use "base";
@use "layout";
@use "utilities";

.hero {
  min-height: 100dvh;
  line-height: 1.4;

  &-content {
    position: absolute;
  }

  &-animated-text {
    position: relative;
    white-space: nowrap;
    transform: rotate(-20deg);
    will-change: transform;
    z-index: 2;
  }

  h1 {
    color: #fff;
    font-size: 18.75rem;
    font-weight: 900;
    animation: hero-primary-scroll 25s linear infinite;
  }

  &-subtitle {
    font-size: 3.5rem;
    font-weight: 900;
    animation: hero-primary-scroll 27s linear infinite;
  }
}

.hero-content {
  width: 100vw;
  max-width: 100vw;
  position: relative;
}

@keyframes hero-primary-scroll {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-150%);
  }
}

.gradient-sphere {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

// PROJECTS
.project-list {
  height: 100%;
  gap: 2rem;
}

.project-item-content {
  h2 {
    width: fit-content;
    cursor: pointer;
  }
}

// CONTACT
.contact-container {
  min-height: 100dvh;
  justify-content: center;
}

.more-info-links {
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  @include mq(small) {
    flex-direction: row;
  }
}

.link-group {
  &-title {
    font-size: fs(400);
  }
  &:nth-of-type(1) {
    flex-grow: 2;
    flex-basis: 0;
  }
  &:nth-of-type(2) {
    flex-grow: 1;
  }
  &:nth-of-type(3) {
    flex-grow: 1;
    flex-basis: 0;
  }
}

.footer-call-to-action {
  line-height: 1;
}
