// General styles
@use "../abstracts/" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs(400);
  color: clr(neutral, 900);
  line-height: 1.5;
  cursor: default;
  position: relative;
}

h1,
h2,
h3 {
  font-weight: $fw-700;
}

h1 {
  font-size: fs(900);
}

// Custom cursor - CSS-only with delayed white circle follower
