*,
*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

h1 {
  line-height: 0.8;
}
// apply img style or add svg styles as needed
