*,
*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

body {
  position: relative;
}

h1 {
  line-height: 0.8;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

// apply img style or add svg styles as needed
